div{
   height: 100px; 
   width: 100px;
   color: rgb(245, 246, 247);
   background-image: url("krishna.jpg");
   background-size: cover;
   position: fixed;
   right: 0px;
   top: 50px;

}